# Python
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
venv/
.env
.env.*
!.env.example

# Django
db.sqlite3
media/
staticfiles/
backups/

# Translation compiled files
*.mo

# macOS
.DS_Store

# IDE
.vscode/
.idea/

# Logs
*.log
